:host{
    border: solid 1px rgb(153, 102, 77);
    border-radius: 4px;
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &>i{
        transform: scale(0.5);
        position: relative;
        justify-self: flex-start;
        left: -50px;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: -5px;
            border-right: solid 1px #D5934A;
        }
    }
    &>span{
        position: absolute;
        right: 10px;
        color: #D5934A;
    }
}