:host{
    width: 320px;
    height: calc(100vh - 80px);
    display: flex;
    justify-self: right;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 26px;
    padding-left: 5px;
    flex-direction: column;
    border-left: solid 1px #D5934A;
    &::before{
        content: '';
        left: 0;
        width: 4px;
        height: 100%;
        position: absolute;
        border-right: solid 1px rgb(153, 102, 77);
    }
    &>.header{
        height: 240px;
        width: 100%;
    }
    &>.card-list{
        height: calc(100vh - 320px);
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &>*{
            flex: 0 0 auto;
        }
    }
}