:host{
    width: 320px;
    height: calc(100vh - 80px);
    display: flex;
    justify-self: right;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 26px;
    padding-left: 5px;
    flex-direction: column;
    border-left: solid 1px #D5934A;
    &::before{
        content: '';
        left: 0;
        width: 4px;
        height: 100%;
        position: absolute;
        border-right: solid 1px rgb(153, 102, 77);
    }
    &>.header{
        height: 240px;
        width: calc(100% +10px); 
        position: relative;
        margin-left: -5px;
        margin-right: -5px;
        border-bottom: solid 1px #D5934A;
        &>.header-inner{
            height: 235px;
            width: calc(100% - 5px);
            margin-bottom: -5px;
            position: relative;
            border-bottom: solid 1px rgb(153, 102, 77);
            display: flex;
            align-items: flex-end;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 6px 12px 6px 12px;
            margin-right: 5px;
            &>button{
                border: solid 1px #D5934A;
                background-color: #111111;
                color: #D5934A;
                border-radius: 4px;
                height: 40px;
                width: 100%;
                font-size: 18px;
                font-weight: 600;
                &:hover{
                    cursor: pointer;
                    background-color: #D5934A;
                    color: #111111;
                }
            }
            &::after{
                // content: '';
                background-color: #111111;
                border-bottom: solid 1px rgb(153, 102, 77);
                border-right: solid 1px rgb(153, 102, 77);
                width: 20px;
                height: 20px;
                position: absolute;
                left: calc(50% - 11px);
                bottom: -11.5px;
                transform: rotate(45deg);
                z-index: 1;
            }
        }
        &::after{
            // content: '';
            background-color: #111111;
            border-bottom: solid 1px #D5934A;
            border-right: solid 1px #D5934A;
            width: 28px;
            height: 28px;
            position: absolute;
            left: calc(50% - 15px);
            bottom: -15.5px;
            transform: rotate(45deg);
        }
        
    }
    &>.card-list{
        height: calc(100vh - 320px);
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &>*{
            flex: 0 0 auto;
            width: 100%;
        }
    }
}